.book-list-item {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 0 30px;
  border: 1px solid #dddddd;
  box-shadow: 10px 10px 17px -11px #c5c5c5;
}

.book-list-item .box-wrapper {
  flex: 1;
  padding: 0 30px;
}

.book-list-item .cover-book {
  max-width: 200px;
}

.book-list-item .title {
  font-size: 15px;
  color: #1865d8;
  margin-bottom: 5px;
}

.book-list-item .subtitle {
  font-size: 13px;
  font-weight: bold;
}

.book-list-item .author {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

.book-list-item .price {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 5px;
}

.book-list-item .btn {
  width: 140px;
}